@charset "utf-8";



header{
    position: fixed;
}
.logo {
    position: absolute;
    min-width: none;
    left: 3.4rem;
    top: 5%;
    color: #a387ea;
}
.p {
    width: 100%;
    min-width: none;
}

.down {
    position: absolute;
    top: 20%;
    right: 5rem;
}

.home {
    position: absolute;
    top: 25%;
    left: 30rem;
    color: #a387ea;
    font-size: 20px;
}
.chara {
    position: absolute;
    top: 25%;
    left: 40rem;
    color: #a387ea;
    font-size: 20px;
}
.version {
    position: absolute;
    top: 25%;
    left:52rem;
    color: #a387ea;
    font-size: 20px;
}
.event {
    position: absolute;
    top: 25%;
    left: 63rem;
    color: #a387ea;
    font-size: 20px;
}
.game1 {
    position: absolute;
    top: 25%;
    left: 73rem;
    color: #a387ea;
    font-size: 20px;
}
.game2 {
    position: absolute;
    top: 25%;
    left: 82rem;
    color: #a387ea;
    font-size: 20px;
}
.download {
    position: absolute;
    top: 25%;
    right: 7rem;
    font-size: 20px;
    color: #fff;
} 
.haikei {
    width: 100%;
  
}
.soul {
    width: 100%;
    top: 25px;
}
.hai {
    position: absolute;
    min-width: 100%;
    left: 10px;
    top: 140px;
}

h2 {
    background: url(../img/haikei2.webp);
    background-attachment: fixed;
} 
.god {
    max-width:35%;
    padding-left: 750px;

}
.sito {
    max-width:35%;
    padding-left: 750px;

}

footer {
    background: #000;
    color: #fff;
}

.f{
  text-align: center;
}

