@charset "utf-8";



header{
    position: fixed;
}
.logo {
    position: absolute;
    width: 10%;
    max-width: 50%;
    left:3%;
    top: -2%;
    color: #a387ea;
}
.p {
    width: 100%;
}

.down {
    position: absolute;
    width: 10%;
    top: 15%;
    right: 5rem;
}

.home {
    position: absolute;
    font-size: 1.2vw;
    top: 19%;
    right: 50rem;
    color: #a387ea;
    
}
.chara {
    position: absolute;
    font-size: 1.2vw;
    top: 19%;
    right: 42rem;
    color: #a387ea;
    
}
.version {
    position: absolute;
    font-size: 1.2vw;
    top: 19%;
    right: 35rem;
    color: #a387ea;
    
}
.event {
    position: absolute;
    font-size: 1.2vw;
    top: 19%;
    right: 29rem;
    color: #a387ea;
    
}
.game1 {
    position: absolute;
    font-size: 1.2vw;
    top: 19%;
    right: 23rem;
    color: #a387ea;
    
}
.game2 {
    position: absolute;
    font-size: 1.2vw;
    top: 19%;
    right: 16rem;
    color: #a387ea;
    
}
.download {
    position: absolute;  
    font-size: 1.2vw;
    top: 19%;
    right: 8rem;
    color: #fff;
} 
.haikei {
    width: 100%;
  
}
.tamasi {
    background: url(../img/Gbm9FFvbkAADwWn.jpg);
    background-size: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
}
.hai {
    position: absolute;
    min-width: 100%;
    left: 10px;
    top: 140px;
}

h2 {
    background: url(../img/haikei2.webp);
    background-attachment: fixed;
    text-align: center;
} 
.god {
    max-width:35%;
    /* padding-left: 750px; */
    text-align: center;

}
.sito {
    max-width:35%;
    /* padding-left: 750px; */
    

}

footer {
    background: #000;
    color: #fff;
}

.f{
  text-align: center;
}

.copyringt {
    padding: 50px;
}